*{
    margin: 0;
    padding: 0;
}
body{

}

.img1{
    background-image: url('./images/slider-1.jpg');
    background-repeat: no-repeat;
    height:100vh;
   
}
.img2{
    background-image: url('./images/slider-2.jpg');
    background-repeat: no-repeat;
    height:100vh;

    
  
}

.img3{
    background-image: url('./images/slider-3.jpg');
    background-repeat: no-repeat;
    height:100vh;

}
